{% extends 'genericos/base.html' %}

{% block title_head %}
                    <title>Inicio</title>
{% endblock title_head %}

{% block h1_header %}
                    <h1>Pagina principal</h1>
{% endblock h1_header %}


{% block contenido %}
Un sitio web dedicado a proporcionar información sobre los mejores jugadores de fútbol de todo el mundo. Nos enorgullece ofrecer listados detallados y precisos sobre los jugadores más destacados, incluyendo sus estadísticas, habilidades y logros.
{% endblock contenido %}